<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="BucketConfiguration.DynamicBucketFolderPath">
        <patch:attribute name="value" value="Sitecore.Support.Buckets.Util.BucketFolderPathResolver, Sitecore.Support.178380" />
      </setting>
    </settings>
  </sitecore>
</configuration>